<div>

  <h3>Lista de Celebridades</h3>



<ul>
  {{#each celebritiesList}}
<li>{{name}}</li>
 {{/each}}
</ul>


    {{!-- <h5>
      <a href="/celebrities/{{_id}}/details">{{name}}</a>
      
    </h5> --}}
{{!--Hola David el Gnomo--}} 

</div>